<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
    <title>~vani~ info</title>
	
    <link rel="stylesheet" type = "text/css" href="../static/styles.css"/>
	
	<!--link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}" type="image/x-icon"-->
  </head>
<body>
	<div class = "div_square">
		<div class = "main">
			<div class = "wrapper">
				<div class = "heading">
					~vani~
				</div>
				<hr class = "hr1"/>
				<br>
				<div class = "flex_container">
					<div class = "container1">
						<span class = "span1">
							<strong>
								Web-Developer
							</strong> <br> <br>
							he/him | bisexual | Russia
						</span>
						<br><br>
						<ul class = "ul1">
							<li>Birthday: 09.11.2007</li>
							<li>Languages: Рус(Native), Eng(B1)</li>
							<li>Country: Russia</li>
							<li>Instruments: Html, Css, JS, Python</li>
							<li>Commercial-Experience: None</li>
						</ul>
					</div>
					<div class = "container2">
						<img src = "../static/images/profile/avatar.png" class = "profile_image">
					</div>
				</div>
				<div class = "container1">
					<ul class = "ul2">
						<li>
							<a href = "#">Portfolio</a>
						</li>
						<li>
							<a href = "#">Links</a>
						</li>
					</ul>
				</div>
				<hr class = "hr1" style = "margin-top: 2.5rem;"/>
				<div class = "container3">
					<span class = "span2">
						Email: <code>aivanellok@gmail.com</code>
					</span>
				</div>
			</div>
		</div>
	</div>
</body>

</html>