<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
    <title>~vani~ info</title>
	
    <link rel="stylesheet" type = "text/css" href="../static/styles.css"/>
	
	<link rel="shortcut icon" href="../static/images/icons/site.ico" type="image/x-icon">
  </head>
<body id = "body">
	<div id = "body1" class = "body1"></div>
		<div class = "div_square">
			<div class = "main">
				<div class = "wrapper" id = "wrapper">
					<div class = "heading">
						vani
					</div>
					<hr class = "hr1"/>
					<br>
					<div class = "flex_container">
						<div class = "container1">
							<span class = "span1">
								<strong>
									Frontend-Developer
								</strong> <br> <br>
								he/him | Junior | Russia
							</span>
							<br><br>
							<ul class = "ul1">
								<li>Birthday: 09.11.2007</li>
								<li>Gender: Male</li>
								<li>Languages: Rus(Native), Eng(B1)</li>
								<li>Country: Russia</li>
								<hr class = "hr1"/>
								<li>I am now open for offers and orders</li>
							</ul>
						</div>
						<div class = "container2">
							<img src = "../static/images/profile/avatar.png" class = "profile_image">
						</div>
					</div>
					<div class = "container1">
						<ul class = "ul2">
							<li>
								<a href = "resume.html">Resume</a>
							</li>
							<li>
								<a href = "links.html">Links</a>
							</li>
						</ul>
					</div>
					<hr class = "hr1" style = "margin-top: 2.5rem;"/>
					<div class = "container3">
						<span class = "span2">
							Email: <code>aivanellok@gmail.com</code>
						</span>
					</div>
				</div>
			</div>
	</div>
	<script src = "../static/scripts/start_anims.js"></script>
</body>

</html>